@import url(/assets/css/reset.css);
@import url(/assets/css/global.css);

  /* Formulario */


  #titulo {
    font-family: sans-serif;
    color: #660708;
    margin-left: 30%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #faf8f8;
  }

  #subtitulo {
    font-family: sans-serif;
    color: #660708;
    margin-left: 42%;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #faf8f8;
  }

  #check{
    display: inline-block;
}

  fieldset {
    border: 0;
  }  

  input, select, textarea, button {
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1em;
  }

  .grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

h1 {
  font-size: 25px;
}

  .campo {
    margin-bottom: 1em;
    margin-left: 2em;
  }

  .campo label {
    margin-bottom: 0.2em;
    color: #FFFFFF;
    display: block;
  }

  fieldset.grupo .campo {
    float: left;
    margin-right: 2em;
    margin-left: 1.2em;
  }

  .campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #660708;
    box-shadow: 2px 2px 2px rgba(253, 252, 252, 0.8);
  }

  .campo section option {
    padding-right: 1em;
  }

  .campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: #ffffff;
  }

  #texto {
    margin-left: 9em;
    margin-bottom: 1.8em;
  }

  .botao {
    font-size: 1.2em;
    background-color: #0B090A;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(253, 252, 252, 0.8);
    text-shadow: 1px 1px 1px rgba(253, 252, 252, 0.8);
    position: absolute;
    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .botao:hover {
    background: #0e4159;
  }

  /* Contato */
  #contato {
    font-family: sans-serif;
    color: #660708;
    margin-left: 45%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #faf8f8;
    padding-top: 50px;
  }

  /* CARD */

  section {
    .container-card {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 1200px;
      flex-wrap: wrap;
      z-index: 1;
      min-height: 10vh;
    }
  
    .container-card .card {
      position: relative;
      width: 220px;
      height: 350px;
      margin: 30px;
      box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
      background-color: #A4161A;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1.5px solid rgba(255,255, 255, 0.5);
      border-left: 1px solid rgba(255,255, 255, 0.5);
      backdrop-filter: blur(5px);
      background: url(/assets/img/foto-card-contato.jpg);
  
    }
 
     .container-card .card .content a:hover{
      background-color: #0B090A;
      color: #FFFFFF;
    }
  
  }

  /* ---------- Estilos dinâmicos ---------- */
   .helper-text {
    display: none;
    font-size: .8rem;
    color: #FFFFFF;
  }

  label {
    margin-bottom: .1rem;
    position: relative;
  }
  
  label:not(:first-of-type){
    margin-top: 1.2rem;
  }

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

footer {
  color: #faf8f8;
  margin: 7%;
  margin-top: 19%;
  margin-bottom: 40px;
}
