@import url(/assets/css/global.css);
@import url(/assets/css/reset.css);

/*** main ***/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    margin-top: 25%;
    padding: 10px;
    background-color: #141414;
}

.apresentacao img{
    width: 300px;
    height: 400px;
    margin-right: 500px;
}

.containerA, .containerB, .containerC, .containerD, .containerE, .containerF, .containerG, .containerH, .containerI, .containerJ, .containerK, .containerL{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.texto-sobre{
    width: 600px;
}

.texto-sobre h1{
    color: #E50914;
    margin: 10px auto;
}

.texto-sobre p{
    font-size: 20px;
    margin: 10px auto;
}

.texto-sobre button{
    font-size: 20px;
    padding: 8px 20px;
    background-color: #E50914;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.texto-sobre button:hover{
    border: 1px solid #fff;
}

.filmes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 25px;
}

.filmes img{
    margin: 0 10px;
    width: 240px;
    height: 260px;
    cursor: pointer;
}

