/* MENU */

html {
    height: 200vh;
}

body {
    background-color: #0B090A;
    background-image: linear-gradient(
        #0B090A,
        #660708
    );
}

.container {
    max-width: 1500px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {    
    width: 1500px;
    max-width: 80%;
    margin: auto;    
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    transition: .7s;
    margin-top: 15px;
    
}

header .container .flex a img{
    width: 74px;
    height: 74px;
    align-items: center;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 12px;    
}

header ul li:hover {
    border-radius: 0px;
    border: 2px solid #660708;
    transition: .2s;
    
}

header ul li a{
    color: #FFFFFF;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #0B090A;
    padding: 5px;
    border: 2px solid #660708;  
}

.dropdown-menu a {
    display: block;
    color: white;
    padding: 16px;
    border: 1px solid #660708;
}

.dropdown-menu a:hover{
    border: 1px solid #FFFFFF;
    background-color: #660708;
}

.flex .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 12px;
    /* margin-left: -46px; */
}

/* FALAR COM O INDIO */
.flex .dropdown:hover .dropdown-menu:last-child{
    display: block;
    margin-left: -82.5px;
    
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #660708;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}

/* FOOTER */

.rodape .cidademain {
    position: absolute;
    background: url(https://rawartsites.neocities.org/img/Footer/footer-bg.webp) no-repeat scroll center 0;
    width: 100%;
    height: 300px;  
    overflow: hidden; 
}

.rodape .cidade{
    background: url(https://rawartsites.neocities.org/img/Footer/volks.gif) no-repeat;
    width: 252px;
    height: 113px;
    left: 0%;
    bottom: 0;
    background-size: 250px;
    position: absolute;
    animation: cidade 10s linear infinite;
    z-index: 100;
}

@keyframes cidade {
    0% {
      left: 0%;
      }
  
    100%{
      left: 100%;
    }
  }

.rodape .cidade2{
    background: url(https://rawartsites.neocities.org/img/Footer/cyclist.gif) no-repeat;
    width: 190px;
    height: 109px;
    left: 0%;
    bottom: 0;
    background-size: 78px;
    animation: cidade2 15s linear infinite;
    position: absolute;

}

@keyframes cidade2 {
    0% {
      left: 0%;
      }
  
    100%{
      left: 100%;
    }
  }

  .cidadeinfo {
    color: #FFFFFF;
    width: 1000px;
    margin: 0 auto;
    padding: 268px 0 0 0;
    display: flex;
  }

  .cidadeinforight {
    position: absolute;
    text-align: right;
    width: inherit;
  }

  .cidadeinforight p, .cidadeinforight a{
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
	
	.cidadeinforight {
	  
    position: relative;
    text-align: right;
    width: auto;
    padding: 0 8px;
	  
  }
	
	.cidadeinfo {
	  
    position: relative;
    width: inherit;
    max-width: fit-content;
    font-size: 12px;
    z-index: 100;
	  
     }	
	
  }