@import url(/assets/css/reset.css);
@import url(/assets/css/global.css);


/* Carrossel */

.carrossel {
    height: 120vh;
    overflow: hidden;
    position: relative;
    
}

.carrossel .list .item {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
}

.carrossel .list .item .img{
    width: 100%;
    height: 100%;
}

.item img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1490px;
    height: 1000px;
    filter: drop-shadow(10px 2px 1px rgba(0, 0, 0, .6));
}


.carrossel .list .item .content{
    position: absolute;
    top: 6%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0B090A;
}

.carrossel .list .item .content .title{
    font-weight: bold;
    font-size: 3.5em;
    text-shadow: 0.1em 0.1em 0.1em black;
    padding-bottom: 8px;
}

.carrossel .list .item .content .des {
    text-shadow: 0.1em 0.1em 0.2em black;
    background-color: #660708;
    width: 1000px;
    height: 125px;
    text-align: center;
    padding:18px;
    border-radius: 9px;
    opacity: 90%;
    text-align: center;
    margin: 0 auto;
}

.carrossel .list .item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 30px;
}

.carrossel .list .item .content button {
    border: none;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight:  500;
    background-color: #0B090A;
    color: #FFFFFF;
}

.carrossel .list .item .content button:nth-child(2) {
    background-color: transparent;
    color: #0B090A;
    border: 2px solid #660708;
}

.carrossel .list .item .content button:nth-child(2):hover {
    background-color: #660708;
    color: #fff;
    border: 2px solid #660708;
}

/* minicard */

.mini-card {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.mini-card .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.mini-card .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mini-card .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.mini-card .item .content .title{
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #660708;
}

/* botao para troca de imagem */

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #660708;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
    border: 2px solid #0B090A;
}

.arrows button:hover{
    background-color: #eee;
    color: #555;
}

/* efeito de no titulo e descricao do filme */

.carrossel .list .item:nth-child(1) {
    z-index: 1;
}

.carrossel .list .item:nth-child(1) .title,
.carrossel .list .item:nth-child(1) .des,
.carrossel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.8s 1s linear 1 forwards;
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carrossel .list .item:nth-child(1) .title {
    animation-delay: 1.2s;
}

.carrossel .list .item:nth-child(1) .des {
    animation-delay: 1.4s;
}

.carrossel .list .item:nth-child(1) .buttons {
    animation-delay: 1.6s;
}

/* efeito de trocar a imagem no click */

.carrossel.next .list .item:nth-child(1) img {
    width: 150px;
    min-height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage{
    to {
        width: 100%;
        min-height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carrossel.next .mini-card .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to{
        width: 150px;
    }
}

.carrossel.next .mini-card{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}


/* efeito com click */

.carrossel.prev .list .item:nth-child(2){
    z-index: 2;    
}

.carrossel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImagem 0.5s linear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carrossel.prev .mini-card .item:nth-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards
}

.carrossel.prev .list .item:nth-child(2) .title,
.carrossel.prev .list .item:nth-child(2) .des,
.carrossel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear forwards;
}

@keyframes contentOut {
    to{
        transform: translateY(150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carrossel.next .arrows button,
.carrossel.prev .arrows button{
    pointer-events: none;
}

/* time */

.time {
    width: 0%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carrossel.next .time,
.carrossel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

@media screen and (max-width: 678px) {
    .carrossel .list .item .content{
        padding-right: 0;
    }
    .carrossel .list .item .content .title {
        font-size: 30px;
    }
}

/* sobre o site */

 main article {
    
    color: #FFFFFF;
    width: 900px;
    height: 350px; 
    padding: 25px; 
    font-size: 20px;
    /* background-color: aqua; */
    margin: 0 auto;
    
}

main  .texto-introdutorio{
    text-align: center;
    margin-top: 6px;
    padding: 5px;
    letter-spacing: 5px;
    text-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 5px #fff, 0 0 8px #ff00de, 0 0 8px #ff00de, 0 0 10px #ff00de, 0 0 10px #ff00de, 0 0 3px #ff00de;
}

