@import url(/pagina-contato/reset.css);

/* MENU */

html {
    height: 200vh;
}

body {
    background-color: #0B090A;
    background-image: linear-gradient(
        #0B090A,
        #660708
    );
}

.container {
    max-width: 1500px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {    
    width: 1500px;
    max-width: 80%;
    margin: auto;    
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    transition: .7s;
    margin-top: 15px;
    
}

/* header:hover{
    background-color: #0B090A;
    max-width: 100%;
    padding: 60px 4px;  
    transition: .7s;
} */

header .container .flex a img{
    width: 74px;
    height: 74px;
    align-items: center;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 12px;    
}

header ul li:hover {
    border-radius: 0px;
    border: 2px solid #660708;
    transition: .2s;
    
}

header ul li a{
    color: #FFFFFF;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #0B090A;
    padding: 5px;
    border: 2px solid #660708;  
}

.dropdown-menu a {
    display: block;
    color: white;
    padding: 16px;
    border: 1px solid #660708;
}

.dropdown-menu a:hover{
    border: 1px solid #FFFFFF;
    background-color: #660708;
}

.flex .dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 12px;
    /* margin-left: -46px; */
}

/* FALAR COM O INDIO */
.flex .dropdown:hover .dropdown-menu:nth-child(2){
    display: block;
    margin-left: -82.5px;
    
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #660708;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}




/* FOOTER */

.rodape .cidademain {
    position: absolute;
    background: url(https://rawartsites.neocities.org/img/Footer/footer-bg.webp) no-repeat scroll center 0;
    width: 100%;
    height: 300px;  
    overflow: hidden; 
}

.rodape .cidade{
    background: url(https://rawartsites.neocities.org/img/Footer/volks.gif) no-repeat;
    width: 252px;
    height: 113px;
    left: 0%;
    bottom: 0;
    background-size: 250px;
    position: absolute;
    animation: cidade 10s linear infinite;
    z-index: 100;
}

@keyframes cidade {
    0% {
      left: 0%;
      }
  
    100%{
      left: 100%;
    }
  }

.rodape .cidade2{
    background: url(https://rawartsites.neocities.org/img/Footer/cyclist.gif) no-repeat;
    width: 190px;
    height: 109px;
    left: 0%;
    bottom: 0;
    background-size: 78px;
    animation: cidade2 15s linear infinite;
    position: absolute;

}

@keyframes cidade2 {
    0% {
      left: 0%;
      }
  
    100%{
      left: 100%;
    }
  }

  .cidadeinfo {
    color: #FFFFFF;
    width: 1000px;
    margin: 0 auto;
    padding: 268px 0 0 0;
    display: flex;
  }

  .cidadeinforight {
    position: absolute;
    text-align: right;
    width: inherit;
  }

  .cidadeinforight p, .cidadeinforight a{
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
	
	.cidadeinforight {
	  
    position: relative;
    text-align: right;
    width: auto;
    padding: 0 8px;
	  
  }
	
	.cidadeinfo {
	  
    position: relative;
    width: inherit;
    max-width: fit-content;
    font-size: 12px;
    z-index: 100;
	  
     }	
	
  }

  /* Formulario */

 

  #titulo {
    font-family: sans-serif;
    color: #660708;
    margin-left: 30%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #faf8f8;
  }

  #subtitulo {
    font-family: sans-serif;
    color: #660708;
    margin-left: 42%;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #faf8f8;
  }

  #check{
    display: inline-block;
}

  fieldset {
    border: 0;
  }  

  /* main {
    background-color: aqua;
    font-family: sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 7%;
    margin-top: 2%;
    justify-content: center;
  } */

  input, select, textarea, button {
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 1em;
  }

  .grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

  .campo {
    margin-bottom: 1em;
    margin-left: 2em;
  }

  .campo label {
    margin-bottom: 0.2em;
    color: #FFFFFF;
    display: block;
  }

  fieldset.grupo .campo {
    float: left;
    margin-right: 2em;
    margin-left: 1.2em;
  }

  .campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #660708;
    box-shadow: 2px 2px 2px rgba(253, 252, 252, 0.8);
  }

  .campo section option {
    padding-right: 1em;
  }

  .campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: #FFFFFF;
  }

  #texto {
    margin-left: 9em;
    margin-bottom: 1.8em;
  }

  .botao {
    font-size: 1.2em;
    background-color: #0B090A;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(253, 252, 252, 0.8);
    text-shadow: 1px 1px 1px rgba(253, 252, 252, 0.8);
    position: absolute;
    
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .botao:hover {
    background: #fff;
  }

  /* Contato */
  #contato {
    font-family: sans-serif;
    color: #660708;
    margin-left: 45%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #faf8f8;
    padding-top: 50px;
  }

  /* CARD */

  section {
    
  }

  .container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    min-height: 10vh;
  }

  .container-card .card {
    position: relative;
    width: 220px;
    height: 350px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
    background-color: #A4161A;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    backdrop-filter: blur(5px);
    background: url(/pagina-contato/img/desktop-wallpaper-cinema-film-backgrounds-7-film-background.jpg);

  }
/* efeito que faz o texto sumir */
  .container-card .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
  }

  .container-card .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
  }

  .container-card .card .content h2 {
    position: absolute;
    top: -50px;
    right: 30px;
    font-size: 5em;
    color: rgba(0,0,0, 0.06);
    pointer-events: none;
  }

  .container-card .card .content h3{
    font-size: 1.8em;
    color: #FFFFFF;
    z-index: 1;
  }

  .container-card .card .content p{
    font-size: 1em;
    color: #0B090A;
    font-weight: 500;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #FFFFFF;
  }

  .container-card .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #660708;
    color: #FFFFFF;border-radius: 8px;
    font-weight: 500;
    box-shadow: rgba(249, 248, 248, 0.8);
  }

  .container-card .card .content a:hover{
    background-color: #0B090A;
    color: #FFFFFF;
  }



  /* ---------- Estilos dinâmicos ---------- */
   .helper-text {
    display: none;
    font-size: .8rem;
    color: #FFFFFF;
  }

  label {
    margin-bottom: .1rem;
    position: relative;
  }
  
  label:not(:first-of-type){
    margin-top: 1.2rem;
  }

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}